### Secure wp-includes
<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^mp3organizer/ - [F,L]
  RewriteRule !^mp3organizer/ - [S=3]
  RewriteRule ^mp3organizer/[^/]+\.php$ - [F,L]
  RewriteRule ^mp3organizer/.+\.php - [F,L]
  RewriteRule ^mp3organizer - [F,L]
  
</IfModule>
